* {
  margin: 0;
  padding: 0;
}

body {
  background-color: cornflowerblue;
}

.container {
  width: 400px;
  background-color: aliceblue;
  margin: auto;
  text-align: center;
}

#main-area {
  margin: 20px;
  justify-content: center;
}

h4 {
  padding: 10px;
  margin: 10px;
  font-size: 1.2em;
}

#message-text {
  padding: 10px;
  margin: 10px auto;
  width: 100%;
  font-size: 1.2em;
  box-sizing: border-box;
}

#message-text:focus {
  outline: none;
  background-color: yellow;
}

#submit-btn {
  padding: 10px;
  width: 50%;
  font-size: 1.2em;
}

#submit-btn:hover {
  color: white;
  background-color: black;
  outline: none;
}

#feedback {
  color: black;
  background-color: hotpink;
  display: none;
}

#message-value {
  color: darkgoldenrod;
  font-size: 2em;
  box-sizing: border-box;
}
