* {
  margin: 0;
  padding: 0;
  /* background-color: #ccc; */
  /* if you specify background color the color won't change as this takes precedence, learn about specificty */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid #333;
  cursor: pointer;
}

/* to remove the blue outline when the button is in focus */
button:focus {
  outline: none;
}

button:hover {
  background-color: #999;
}
