html, body{
  box-sizing: border-box;
  padding: 10px;
  background-color: beige;
}

.main-container{
  display: flex;
  flex-direction: column;
}


.navbar{
  display: flex;

  
}

a{
  text-decoration: none;
  padding:0.5rem;
  margin: 0.5rem;
  width:100px;
  text-align: center;
  color:black;
}

a:hover{
  background-color: black;
  color: whitesmoke;
  border-radius: 5px;
}


