*{
  margin:0;
  padding:2px;
  box-sizing: border-box;
}

.container{
  max-width: 1100px;
  position: relative;
  margin:auto;
}

.prev, .next{
  cursor: pointer;
  position: absolute;
  top:45%;
  padding:10px;
  color:white;
  border-radius: 0 3px 3px 0;
}

.next{
  right:0;
}

.prev:hover, .next:hover{
  color:black;
  background-color: white;
}
